<?xml version='1.0'?>

<launch>

  <arg name="cmd_timeout" default="0.5"/>

<!-- Load the joint controllers. One of these publishes the joint states
  to joint_states. -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="$(find ackermann_vehicle_gazebo)/config/jmu_racecar_joint_ctrlr_params.yaml"/>

  
  <!-- Control the steering, axle, and shock absorber joints. -->
  <node name="ackermann_controller" pkg="ackermann_vehicle_gazebo"
        type="ackermann_controller.py">
    <param name="cmd_timeout" value="$(arg cmd_timeout)"/>
    <rosparam file="$(find ackermann_vehicle_gazebo)/config/em_3905_ackermann_ctrlr_params.yaml" command="load"/>
  </node>


  <!-- servo node -->
  <node pkg="jmu_racecar_controller" type="servo_commands.py" name="servo_commands" output="screen">
  </node>

  <!-- Allow for Gazebo to broadcast odom -->
  <node pkg="racecar_gazebo" name="gazebo_odometry_node" type="gazebo_odometry.py"/>

  <!-- Allow for Gazebo to broadcast odom -->
  <!--
  <node pkg="racecar_gazebo" name="gazebo_map_odometry_node" type="gazebo_map_odometry.py"/>
  -->
  
</launch>
