<?xml version='1.0'?>
<launch>
    <arg name="namespace"   default="racecar"/>
    <arg name="cmd_timeout" default="0.5"/>
    <arg name="rectify"     default="false" />
    <arg name="stereo_view" default="false" />

    <node pkg="jmu_racecar_localization" name="gazebo_odometry_node" type="gazebo_odometry.py" output="screen" >
        <remap from="/gazebo/odom" to="/odom"/>
    </node> 
</launch>